extends layout

block content
  h1(style='margin-left: 35px;')= title
  p(style='margin-left: 35px;') A CLAV é uma plataforma em desenvolvimento no DI/UM em parceria e sob encomenda da Direção Geral do Livro, Arquivos e Bibliotecas (DGLAB) que visa a classificação e a avaliação de toda a documentação circulante na administração pública portuguesa.
  .w3-container(style='margin-top: 50px; margin-left: 35px;')
    .w3-row 
      .w3-col.s6.w3-center
        a(href="/classes") Classes 
      .w3-col.s6.w3-center
        a(href="/termos") Termos de índice

