extends layout

block content
  .w3-top
      .w3-bar.w3-black
        a.w3-bar-item.w3-button(href='/') Home
        a.w3-bar-item.w3-button(href='/classes') Classes
        a.w3-bar-item.w3-button(href='/termos') Termos de índice

  h1(style='margin-top: 50px; margin-left: 35px;')= title

  p(style='margin-left: 35px; margin-right: 35px;') Termos que detalham o âmbito de aplicação dos processos de negócio e apoiam a recuperação da informação.

  .w3-container(style='margin-top: 35px;')
    table.w3-text-black.w3-table-all.w3-hoverable.w3-centered.w3-large(style='margin-bottom: 50px;')
        tr
            th Termo
            th Id da classe a que pertence 
            th Título da classe a que pertence 
        each t in termos
            tr
                td= t.termo
                td
                    a(href='/classes/c' + t.idClasse + '?origem=termo&idOrigem=' + t.codigoClasse)= t.idClasse 
                td
                    a(href='/classes/c' + t.idClasse + '?origem=termo&idOrigem=' + t.codigoClasse)= t.tituloClasse
                